.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 550px) {
  .container {
    display: flex;
    gap: 10px;
  }

  .main {
    max-height: 425px;
    overflow: auto;
  }
}
