.userInformationContainer {
  display: grid;
  grid-template-columns: 55px auto;
  align-items: center;
}

.userInformation {
  display: grid;
  grid-template-rows: 25px 25px;
  align-items: center;
}

.userAvatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.userName {
  font-size: 15px;
}

.moneyContainer {
  display: grid;
  grid-template-columns: 25px auto;
  align-items: center;
}

.money {
  font-size: 15px;
}
