header {
    display: grid;
    grid-template-columns: 55px auto;
    align-items: center;
}

body {
    padding: 20px;
}

main {
    margin-top: 5%;
    display: grid;
    place-items: center;
    align-items: center;
}

.formContainer {
    margin-top: 20px;
}

form {
    text-align: center;
}

footer {
    margin-top: 6%;
    display: grid;
    grid-template-columns: 95% 5%;
}