@import url(https://fonts.googleapis.com/css2?family=Bungee&display=swap);

body {
  font-family: 'Bungee', display;
  background-image: url('background.jpeg');
  background-size: cover;
  color: white;
}

.logo {
    width: 50px;
}

a {
    color: rgb(218, 216, 216);
    margin: 5px;
    font-size: 10pt;
    text-decoration: none;
}

a:hover {
    color: white;
    font-size: 12pt;
}

h1 {
    color: rgba(30, 229, 255, 0.712);
}

label {
    font-size: 9pt;
}

input {
    margin: 10px;
    background-color: rgba(18, 18, 32, 0.363);
    border-width: 3px;
    border-color: blue;
    border-radius: 10px;
    color: white;
    font-size: 13pt;
    padding: 5px;
    font-family: 'Bungee', display;
}

button {
    height: 40px;
    width: 100px;
    color: white;
    font-style: bolder;
    font-size: 13pt;
    background-color: rgb(25, 95, 226);
    border-color: rgb(25,25,226);
    border-width: 2px;
    border-radius: 10px;
}

button:hover {
    border-color: rgb(255, 0, 0);
    background-color: rgba(255, 0, 0, 0.596);
}

em {
    font-size: 10pt;
}

.blueText {
    color:rgb(25, 95, 226);
}