.container {
  display: grid;
  grid-template-columns: 59px auto;
  align-items: center;
}

a {
  color: lightgrey;
  text-decoration: none;
  margin: 5px;
  font-weight: bolder;
}

a:hover {
  color: white;
}
